* {
    margin: 0;
    padding: 0;
 box-sizing: border-box;


}

body {
   
    font-weight: 300;
    font-size: 15px;
    max-width: 1600px;
    margin: auto;
min-width: 300px;

}
.logo{  position: relative;
  right:67px;
  bottom: 15px;;
  
  
  
  
    width: 80px;
    
    height: 80px;
  

}

.header-main { display: flex;

background-color: rgba(185, 171, 49, 1);
justify-content:space-around;
color: black;
padding: 20px;
height: 100px;
border: dotted black;
} 

.tittle { 

justify-content: center;

}
.container { display:flex;
    justify-content: space-around;
    background-color: aquamarine;
    height: 100px;
    padding-top: 20px;
    
    text-align: center;
    
    }
    img {
        max-height: 1000px;
        display: block;
        object-fit: cover;
        object-position: top;
    width: 100%;
    
    }


    .facebook  {height: 1px;
        width: 1px;
        
        }
        .img1{ width: 75px;

            height: 75px;
            padding-bottom: 14px;}
            .nedtittle {  display: flex;
            
            justify-content:left;
            
            }
            .Events{text-align: center;
            font-size: 100px;
            
            
            }
            .bilde1{ width: 100%;
                max-width: 1500px;
                min-width: 350;
                justify-content: center;
                padding: 20px;
               
            margin-left: 40px;
            
            }
            p{ 
                font-size: 50px;
                margin-bottom: 100px;
                
                
                }
                h1{ text-align: center;
              
                }
                .button{ background-color: rgb(58, 19, 177);
                    border-radius: 10px;
                   
                    color: white;
                    padding: 20px 20px;
                    margin: 20px 20px;
                    cursor: pointer;
                width: 600px;
                height: 100px;
                font-size: 50px;
           position:relative;
           left: 800px;
            }
            
        
        
        
        
            